body{
    background-color:#90EE90;

}

img{
    width: 20%;
}

figure{
    text-align:center ;
}

.container{
width: 80%;
margin: auto;
}

h1,h2 {
    text-align: center;
    font-family: 'Staatliches', cursive;
}

p{
    font-family:  'Cormorant Garamond', serif; 
    font-size:1.5em;

}
.video{
    text-align: center;
    width: 50%;
    float: left;
}
footer {clear: both;
    
}
.videovogue{text-align: center;}
